<!-- Head -->
<%- include('../partials/head') %>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/productEditForm.css">
</head>

<body>
<!-- Inicio de Cabecera del Sitio -->
<%- include('../partials/header') %>
        <main>
            <h3>Editar Artículo <%= product.name %></h3>
            <!-- Formulario  -->
     <div class="registro">
        <form action="/products/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="campo">
            
            <p><label>Nombre del producto</label></p>
            <input type="text" name="name" id="name" value="<%= product.name %>">

            <p><label>Descripcion</label></p>
            <input type="text" name="description" id="description" value="<%= product.description %>">

            <div>
                <label>Categoría</label>
                <select name="category" id="category">
                    <% for( let i = 0; i < categories.length; i++ ) { %>
                        <% if (categories[i].id == product.category_id) { %>
                            <option value="<%= categories[i].id %>" selected>
                                <%= categories[i].name %> 
                            </option>
                        <% } else { %>
                        <option value="<%= categories[i].id %>">
                            <%= categories[i].name %> 
                        </option>
                        <% } %>
                    <% } %>
                </select>
            </div>

            <div>
                <label>Color</label>
                <select name="color" id="color">
                    <% for( let i = 0; i < colors.length; i++ ) { %>
                        <% if (colors[i].id == product.color_id) { %>
                            <option value="<%= colors[i].id %>" selected>
                                <%= colors[i].name %> 
                            </option>
                        <% } else { %>
                        <option value="<%= colors[i].id %>">
                            <%= colors[i].name %> 
                        </option>
                        <% } %>
                    <% } %>
                </select>
            </div>

            <div>
                <label>Talle</label>
                <select name="size" id="size">
                    <% for( let i = 0; i < sizes.length; i++ ) { %>
                        <% if (sizes[i].id == product.size_id) { %>
                            <option value="<%= sizes[i].id %>" selected>
                                <%= sizes[i].name %> 
                            </option>
                        <% } else { %>
                        <option value="<%= sizes[i].id %>">
                            <%= sizes[i].name %> 
                        </option>
                        <% } %>
                    <% } %>
                </select>
            </div>
            
            <div class="img-create-form">
                <label for="image">Imagen</label>
                <input type="file" name="image">
            </div>

            <div class="register-but">
            <input type="submit" class= "submit" value="Guardar">
            <input type="reset" class= "reset" value="Cancelar">
            </div>
        </form>
    </div>

</main>
<!-- Footer del Sitio -->
<%- include('../partials/footer') %> 
    
</body>
</html>