<!-- Head -->
<%- include('../partials/head') %>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/productCreateForm.css">
    <style>
        .product-errors {
            width: 800px;
            margin: 0 auto;
        }
        .product-errors ul li{
            color: red;
            list-style-type: none;
        }
    </style>
</head>

<body>
    <!-- Inicio de Cabecera del Sitio -->
    <%- include('../partials/header') %>
    <main>
        
        <div class="product-errors">
            <ul></ul>
        </div>
        <!-- Formulario  -->
        <div class="registro">
            <form action="/products/create" method="POST" enctype="multipart/form-data" class="productsForm">
                <h2>Agregar Productos</h2>
                <div>
                    <label>Nombre del producto</label>
                    <input type="text" name="name" id="name" value="<%= locals.oldData ? oldData.name : null %>">
                    <% if (locals.errors && errors.name) { %>
                        <div class="form-error-msg">
                            <%= errors.name.msg %> 
                        </div>
                    <% } %>
                    <span id="name-error"></span>
                </div>
                <div>
                    <label>Descripción</label>
                    <input type="text" name="description" id="description"
                    value="<%= locals.oldData ? oldData.description : null %>"
                    >
                    <% if (locals.errors && errors.description) { %>
                        <div class="form-error-msg">
                            <%= errors.description.msg %> 
                        </div>
                    <% } %>
                    <span id="description-error"></span>
                </div>
                <div>
                    <label>Categoría</label>
                    <select name="category" id="category">
                        <% if (locals.errors && errors.category) { %>
                            <div class="form-error-msg">
                                <%= errors.category.msg %> 
                            </div>
                        <% } else { %>
                            <% for( let i = 0; i < categories.length; i++ ) { %>
                                <option value="<%= categories[i].id %>"
                                    <%= locals.oldData && (categories[i].id == oldData.category) ? 'selected' : null %>    
                                >
                                    <%= categories[i].name %> 
                                </option>
                            <% } %>
                        <% } %> 
                    </select>
                </div>
                <div class="listacolor">
                    <label>Color</label>
                    <select name="color" id="color" class="seleccionar_color">
                        <% if (locals.errors && errors.colors) { %>
                            <div class="form-error-msg">
                                <%= errors.color.msg %> 
                            </div>
                        <% } else { %>
                            <% for( let i = 0; i < colors.length; i++ ) { %>                    
                                <option value="<%= colors[i].id %> "
                                    <%= locals.oldData && (colors[i].id == oldData.color) ?
                                    'selected' : null %>
                                >
                                    <%= colors[i].name %> 
                                </option>
                            <% } %>
                        <% } %>    
                    </select>
                </div>
                <div class= "listatalle">
                    <label>Talle</label>
                    <select name="size" id="size" class="seleccionar_color">
                        <% if (locals.errors && errors.size) { %>
                            <div class="form-error-msg">
                                <%= errors.size.msg %> 
                            </div>
                        <% } else { %>
                            <% for( let i = 0; i < sizes.length; i++ ) { %>                    
                                <option value="<%= sizes[i].id %> "
                                    <%= locals.oldData && (sizes[i].id == oldData.size) ?
                                    'selected' : null %>
                                >   
                                    <%= sizes[i].name %> 
                                </option>
                            <% } %>    
                        <% } %> 
                    </select>
                </div>
                <div>
                    <label>Stock</label>
                    <input type="text" name="stock" id="stock"
                    value="<%= locals.oldData ? oldData.stock : null %>"
                    >
                </div>
                <div>
                    <label>Precio</label>
                    <input type="text" name="price" id="price"
                    value="<%= locals.oldData ? oldData.price : null %>">
                </div>
                <div class="img-create-form">
                    <label for="image">Imagen</label>
                    <input type="file" name="image">
                    <% if (locals.errors && errors.image) { %>
                        <div class="form-error-msg">
                            <%= errors.image.msg %> 
                        </div>
                    <% } %>
                </div>
                <br>
                <button type="submit">Agregar al Listado</button>
            </form>
        </div>

    </main>
    <!-- Footer del Sitio -->
    <%- include('../partials/footer') %>
    <!-- Footer del Sitio --> 
    <script src="../../js/productValidations.js" type="text/javascript"></script>    
</body>
</html>