<!-- Head -->
<%- include('../partials/head') %>
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/productCreateForm.css">
</head>

<body>
<!-- Inicio de Cabecera del Sitio -->
<%- include('../partials/header') %>
        <main>
            <h2>ACCESO A ADMINISTRADOR</h2>
            <h3>AGREGAR ARTICULOS</h3>
            <!-- Formulario  -->
    <div class="registro">
        <form action="/products/create" method="POST" enctype="multipart/form-data" class="campo">
            <div>
                <label>Nombre del producto</label>
                <input type="text" name="name" id="name">
            </div>
            <div>
                <label>Descripción</label>
                <input type="text" name="description" id="description">
            </div>
            <div>
                <label>Categoría</label>
                <select name="category" id="category">
                    <% for( let i = 0; i < categories.length; i++ ) { %>
                        <option value="<%= categories[i].id %>">
                            <%= categories[i].name %> 
                        </option>
                    <% } %>
                </select>
            </div>
            <div class="listacolor">
                <label>Color</label>
                <select name="color" id="color" class="seleccionar_color">
                    <% for( let i = 0; i < colors.length; i++ ) { %>                    
                        <option value="<%= colors[i].id %> ">
                            <%= colors[i].name %> 
                        </option>
                    <% } %>    
                </select>
            </div>
            <div class= "listatalle">
                <label>Talle</label>
                <select name="size" id="size" class="seleccionar_color">
                    <% for( let i = 0; i < sizes.length; i++ ) { %>                    
                        <option value="<%= sizes[i].id %> ">
                            <%= sizes[i].name %> 
                        </option>
                    <% } %>    
                </select>
            </div>
            <div>
                <label>Stock</label>
                <input type="text" name="stock" id="stock">
            </div>
            <div>
                <label>Precio</label>
                <input type="text" name="price" id="price">
            </div>
            <div class="img-create-form">
                <label for="image">Imagen</label>
                <input type="file" name="image">
            </div>
            <div class="register-but">
                <input type="submit" class= "submit" value="Agregar al listado">
                <input type="reset" class= "reset" value="Cancelar">
            </div>
        </form>
    </div>

</main>
<!-- Footer del Sitio -->
<%- include('../partials/footer') %> 
    
</body>
</html>